[submodule "core"]
	path = packages/core
	url = https://github.com/marcelochb/poc-rn-microfront-core.git
  branch = feature/repack
[submodule "interfaces"]
	path = packages/interfaces
	url = https://github.com/marcelochb/poc-rn-microfront-interfaces.git
  branch = feature/repack
[submodule "templates"]
	path = packages/templates
	url = https://github.com/marcelochb/poc-rn-microfront-templates.git
  branch = feature/repack
[submodule "theme"]
	path = packages/theme
	url = https://github.com/marcelochb/poc-rn-microfront-theme.git
  branch = feature/repack
[submodule "ui"]
	path = packages/ui
	url = https://github.com/marcelochb/poc-rn-microfront-ui.git
  branch = feature/repack